@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* html {
    scroll-behavior: smooth;
    overscroll-behavior-y: contain;
} */

html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overscroll-behavior-y: contain;
    scroll-behavior: smooth;
    overscroll-behavior-y: contain;
}

:root{
    --themecolor: #FF741E;
    --textcolor:#e1dad85a;
    --color-text :#fc3333;
}

.homelogo {
    position: relative;
    width: 100%;
    height: 100vh;
}

.homelogo #glow {
    width: 50rem;
    position: absolute;
    margin-top: 1.6rem;
    margin-left: 3.5rem;
}

.homelogo #logo {
    position: absolute;
    margin-top: 14rem;
    margin-left: 10.5rem;
    width: 35rem;
    height: auto;
    filter: drop-shadow(0 0 10px rgb(36,54,107));
    z-index: 2; /* Higher z-index to be on top of the glow */
}

.grid-inner {
    padding-left: 12.5vw;
    padding-right: 12.5vw;
}

.homelogo #hero {
    z-index: 5;
    align-items: flex-start;
    padding-bottom: 4.17vw;
    height: 100vh;
    padding-top: 17.5vh;
    position: relative;
}
#hero{
    position: relative;
}
.homelogo #hero .blur-circle {
    left: 30%;
    top: 65%;
}

.homelogo #hero .bs-220 {
    font-size: clamp(80px, 15.27vw, 240px);
    font-family: "Odibee Sans", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    /* margin-top: -3.5rem; */

}

.homelogo #hero .bs-220 > div:first-of-type {
    /* width: 100px; */
    margin-left: -3.5rem;
    height: 205px;
    margin-top: -3.5rem;
    display: flex;
    justify-content: space-between;
    
}

.homelogo #hero .hero-split.chars.red.xs-center.web {
    margin-right: -6rem;
    color: #FF741E;
    /* -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #000;
    text-stroke-width: 1px; 
    text-stroke-color: #000;  */
}


/* 
.homelogo #hero .hero-split.chars.creative {
    margin-left: -4.5rem; 
} */


.homelogo #hero .hero-split.chars.left {
    margin-left: 41rem;
    width: 100%;
}


.homelogo #hero .bs-hero-small {
    font-size: 14px;
}

.homelogo #hero .scroll-to {
    position: absolute;
    bottom: 4.17vw;
    left: 54.17vw;
}

.homelogo #hero .hero-copy {
    position: absolute;
    bottom: 4.17vw;
    right: 12.5vw;
}

.homelogo #hero #hero-work-link a {
    margin-top: 1em;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-right: 7rem;
    margin-left: -7rem;
    border: 1.5px solid rgba(238, 238, 242, 0.306);
    border-radius: 5px;
    padding: 1.5em 2.25em;
    line-height: 1;
    overflow: hidden;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
    text-decoration: none;
    color: rgba(238, 238, 242, 0.306);
}

.homelogo #hero #hero-work-link a:hover{
    color: #FF741E;
    /* border: 1.5px solid #ff741e62; */
}

/* uncomment if wont arrow color change */

/* #hero-work-link a:hover svg path {
    stroke: #FF741E;
} */

.homelogo #hero #hero-work-link a span,
.homelogo #hero #hero-work-link a svg {
    position: relative;
}

.homelogo #hero #hero-work-link a:hover .link-bg {
    transform: translateY(0);
}

.homelogo #hero #hero-work-link a:hover .arrow-line:first-of-type {
    transform: scaleX(1);
    transition-delay: 0.2s;
}

.homelogo #hero #hero-work-link a:hover .arrow-line:nth-of-type(2) {
    transform: scaleX(0);
    transition-delay: 0s;
}

.homelogo #hero #hero-work-link i {
    flex: 0 0 12%;
}

.homelogo #hero #hero-work-link i svg {
    width: 100%;
    height: auto;
}

.homelogo #hero #hero-work-link .arrow-line {
    transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.homelogo #hero #hero-work-link .arrow-line:first-of-type {
    transform-origin: center left;
    transform: scaleX(0);
}

.homelogo #hero #hero-work-link .arrow-line:nth-of-type(2) {
    transform-origin: center right;
    transition-delay: 0.2s;
}

#hero-work-link {
    position: absolute;
    top: calc(75% + 35px); /* Adjust the offset from the "Studio" text */
    right: 0;
    transform: translateY(-100%);
}

.bs-hero-small.upper {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px; 
}

.homelogo #hero #hero-work-link .link-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(238, 238, 242, 0.1);
    transform: translateY(100%);
    transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* .bs-220 {
    font-size: clamp(90px, 15.27vw, 20vw);
    line-height: 1.1;
} */

.homelogo h4{
    font-family: "Orbitron", sans-serif;
    padding-bottom: 0.5rem;
    font-optical-sizing: auto;
    font-weight: 80;
    font-size: 25px;
    text-transform: uppercase;
    font-style: normal;
    color: #FF741E;
    margin-bottom: -5rem;
    margin-top: 2rem;
    margin-left: 9.5rem;
    top: -10px;
    
}
/* for dual tone logo */

/* .homelogo h4 span{
    color: #ffffff;
} */
.homelogo .para {
    display: inline-flex;
    text-transform: uppercase;
    margin-left: 42rem;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-size: 11px;
    width: 48%;
    /* max-width: 90%; */
    margin-top: calc(5% + 2.5px);
    color: #e1dad85a;
    align-items: center;  
    justify-content: center; 
    text-align: justify; 
    letter-spacing: 1px;
}

.homelogo .para:hover{
    color: #ffffff9d;
}

.homelogo .para > div {
    width: 100%; 
    text-align: justify;
}

.scroll-text a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
    display: inline-block;
    margin-top: calc(4% - 10px);
    justify-content: center;
    margin-left: 50%;
    color: #e1dad85a;
}
.scroll-text a:hover{
    color: #ff741eba;
    transition: all .5s ease;
}

/* usp */

.usp {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    padding-top: 10px;
    margin-top: -10px;
    color: #fff;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.usp .wordCarousel {
    font-size: 15px;
    margin-top: -1.5rem;
    overflow: hidden;
    font-weight: 80;
    position: relative;
    height: 65px;
    list-style: none; 
    padding: 0; /* Remove default padding */
    display: flex; /* Add flex display */
}
.usp .wordCarousel li {
    text-align: left;
    color: #fff;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 80;
    padding: 0 6px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
}
.usp .wordCarousel .crz {
    font-size: 11px;
    letter-spacing: 1px;
    color: #fff;
}
.usp .wordCarousel .dot {
    font-size: 11px;
    color: red;
}
.flip5 { animation: flip5 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip5 {
    0% { margin-top: -450px; }
    5% { margin-top: -360px; }
    20% { margin-top: -360px; }
    25% { margin-top: -270px; }
    40% { margin-top: -270px; }
    45% { margin-top: -180px; }
    60% { margin-top: -180px; }
    65% { margin-top: -90px; }
    80% { margin-top: -90px; }
    85% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -450px; }
}


/* abt -1 section */
.abt-1 {
    height: 100vh;
    width: 100%;
    /* margin-top: 14rem; */
    margin-top: 8rem;
    justify-content: space-between;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
}

.backblur{
    z-index: -3;
    opacity: 65%;
    position: absolute;
    width: 411px;
    height: 421px;
    left: 1115.36px;
    top: 835.42px;
    background: linear-gradient(180deg, #0C8CE9 0%, #9716C5 62.33%);
    filter: blur(175px);
    transform: rotate(126.84deg);
}

.head1 {
    display: flex;
    width: 100%;
    color: #fff;
    /* font-weight: 10; */
    font-size: 13px;
    box-sizing: border-box;
}

.head1 .dot, .abt-1 .dot {
    margin-left: -3rem;
    font-size: 13px;
    color: red;
    padding: 5px;
}

.head1 .a2{
    display: flex;
    justify-content: space-between; 
}

.head1 .a1 {
    margin-right: 4rem; 
    color: var(--textcolor);
}

.head1 .a1:hover {
    color: var(--themecolor);
    transition: 0.5s ease;
}

.abt-1 .a4{
    margin-top: 5rem;
    margin-bottom: 4rem;
    color: var(--textcolor);
    margin-left: 50%;
    font-size: 15px;
}

.abt-1 .a4:hover {
    color: var(--themecolor);
    transition: 0.5s ease;
}

.head1 .a2 {
    font-size: 12.5px;
    /* margin-right: -10rem; */
    /* color: var(--textcolor); */
    width: 34%;
    max-width: 35%;
    text-align: justify;
    text-transform: lowercase;
    /* font-weight: -10; */
    letter-spacing: 2px;
}

.head1 .p1{
    display: flex;
    margin-top: -12px;
    justify-content: space-between;
    text-align: right;
    letter-spacing: 1px;
    font-size: 40px;
    color: #ffffff;
    width: 70%;
    height: auto;
    margin-left: 55px;
    margin-right: -5.5rem;
}

/* image */
.header1{
    width: 100%;
    height: 300px;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    /* align-items:flex-start ; */
    color: var(--color-text);
}

.header1 p{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(120%) brightness(80%) saturate(130%) sepia(20%);
}

.container1 .img-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.container1 .img-container.right {
    flex-direction: row-reverse;
    text-align: left;
}

.container1 .img-container.right p{
    text-align: right;
}
.container1 .img-container.left p{
    text-align: left;
}

.container1 .img-container.left {
    flex-direction: row;
    text-align: right;
}

.container1 .img-container img {
    max-width: 50%;
    height: auto;
}

.container1 .img-container p {
    margin: 0 60px;
    flex: 1;
    color: #fff;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 3px;
    font-size: 20px;
}


#row-1{
    /* height: 200px; */
    margin-top: 4rem;
    height: 300px;
}
#row-2{
    /* height: 500px; */
    height: 300px;
    margin-top: 4rem;
}
#row-3{
    /* height: 150px; */
    height: 300px;
    margin-top: 4rem;
}
#row-4{
    /* height: 400px; */
    height: 300px;
    margin-top: 4rem;
}
#row-5{
    /* height: 700px; */
    height: 300px;
    margin-top: 4rem;
}
#row-6{
    height: 300px;
    margin-top: 4rem;
}
/* #row-7{
    height: 200px;
}
#row-8{
    height: 600px;
}
#row-9{
    height: 300px;
}
#row-10{
    height: 500px;
} */

.col:nth-child(1){
    flex: 3;
    display: flex;
    justify-content: flex-end;
}
.col:nth-child(2){
    flex: 5;
}

.img-container.right img{
    clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
}

.img-container.left img{
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}


.whitespace{
    width: 100%;
    height: 300px;
}




/* scroll reveal */
.reveal {
    visibility: hidden;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.1s ease-in-out;
}

.reveal.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.a1.reveal {
    transition-delay: 0.2s;
}

.a2.reveal {
    transition-delay: 0.3s;
}

.p1.reveal {
    transition-delay: 0.4s;
}

/* animation for text "creative web studio" */

/* Add this animation keyframe */
@keyframes enterFromBottomCircle {
    0% {
        /* transform: translateZ(100%); */
        opacity: 0;
    }
    100% {
        /* transform: translateZ(0); */
        opacity: 1;
    }
}

.homelogo #hero .bs-220 {
    font-size: clamp(80px, 15.27vw, 240px);
    font-family: "Odibee Sans", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    animation: enterFromBottomCircle 1.5s ease-in-out; /* Apply the animation */
}

/* Add animation for other content to fade in after a delay */
.homelogo .para,
.homelogo .scroll-text,
.homelogo .usp,
.abt-1, .homelogo .heading {
    opacity: 0;
    animation: contentFadeIn 0.5s ease forwards;
    animation-delay: 0.5s; 
}

.homelogo .heading{
    opacity: 0;
    animation: contentFadeIn 0.5s ease forwards;
    animation-delay: 0.5s;
}

.scroll-text a {
    opacity: 0;
    animation: contentFadeIn 0.5s ease forwards;
    animation-delay: 0.5s; 
}

.usp {
    opacity: 0;
    animation: contentFadeIn 0.5s ease forwards;
    animation-delay: 0.5s; 
}

/* Add animation for .abt-1 */
.abt-1 {
    opacity: 0;
    animation: contentFadeIn 0.5s ease forwards;
    animation-delay: 0.5s;
}

#hero-work-link a{
    opacity: 0;
    animation: contentFadeIn 0.5s ease forwards;
    animation-delay: 0.5s; 
}

@keyframes contentFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/* scroll attitude */

/* #attitude {
    height: 100%;
    min-height: 100vh;
    position: relative
}

#attitude .grid-inner {
    height: 100%
}

#attitude .innerWrap {
    height: 100%
}

#attitude .hex-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

#attitude .hex-wrap>svg {
    opacity: 0.4;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 50vw;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

#attitude .hex-wrap p {
    margin: 2em 0
}

#attitude .serviceLink {
    position: relative;
    z-index: 10;
    font-family: 'TT Tunnels Bold', "Impact", sans-serif;
    font-size: clamp(90px, 16.9vw, 20vw);
    overflow: hidden;
    color: #151833;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    left: 0%;
    right: 0;
    top: 0;
    bottom: 0
}

@supports (-webkit-touch-callout:none) {
    #attitude .serviceLink {
        letter-spacing: -0.05em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }
}

#attitude .boxes {
    z-index: 2;
    position: absolute;
    top: 10%;
    margin-left: 99.9984vw;
    left: 0;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

#attitude .boxes>div {
    width: 37.4994vw;
    padding-left: 4.1666vw
}

#attitude .boxes>div:first-of-type {
    padding-left: 0;
    width: 33.3328vw
}

#attitude .boxes>div.b-middle {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

#attitude .boxes>div.b-end {
    -ms-flex-item-align: end;
    align-self: flex-end
}

#attitude .boxes h4 {
    line-height: 1
}

#attitude .boxes .box-last {
    aspect-ratio: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

#attitude .boxes .box-last h3 {
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#attitude .boxes .box-last h3 .jb-bg {
    z-index: 1;
    border-radius: 4em
}

#attitude .boxes .box-last h3 a.jelly-button {
    display: inline-block;
    padding: 2em 4em
}

#attitude .boxes .box-last h3 span {
    display: inline-block;
    position: relative;
    z-index: 2
}

.xs-top-3 {
    margin-top: 15vh
}

.big-fade {
    z-index: -1;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 0.8;
    font-size: 37vw;
    color: #171A37;
    font-family: 'TT Tunnels Bold', "Impact", sans-serif
}

.xs-top-0 {
    margin-top: 0vh
}

.bs-grid.sm-grid-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.bs-grid.grid-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.grid-inner {
    padding-left: 12.4998vw;
    padding-right: 12.4998vw
}
.text-progress {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1em;
    font-size: 34vw;
    overflow: visible;
    font-family: 'TT Tunnels Bold', "Impact", sans-serif
}

.box {
    -ms-flex-item-align: end;
    align-self: flex-end;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3328vw;
    flex: 0 0 33.3328vw;
    padding: 4.1666vw;
    background-color: #222650;
    border-radius: 10px
}

.section-title,
.w-title {
    font-family: 'TT Lakes Neue', "Impact", sans-serif;
    font-weight: normal;
    display: inline-block;
    font-size: 12px;
    position: relative;
    text-transform: uppercase;
    padding-left: 1.5rem
}

body.oa i.circle-tag:first-of-type {
    border: 1px solid rgba(0, 0, 0, 0.2)
}

body.oa i.circle-tag:nth-of-type(2) {
    background-color: #000
}
.bs-60 {
    font-size: calc(40px + 1.4vw);
    line-height: 1
}
.upper {
    text-transform: uppercase
}
#attitude .boxes>div.b-end {
    -ms-flex-item-align: end;
    align-self: flex-end
}
.bs-xl-7 {
    width: 29.1662vw
}
.bs-xl-7 {
    width: 29.1662vw
}
.bs-sm-18 {
    width: 74.9988vw
}
.bs-sm-os-3 {
    margin-left: 12.4998vw
}
.xs-top-3 {
    margin-top: 15vh
}
.center {
    text-align: center
} */