@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 70%;
    /* top: 0;
    left: 0; */
    z-index: -1; 
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  /* background: url("/images/sky.png"); */
  background: #1D2145;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#text {
  position: absolute;
  right: -350px;
  color: #ffffff;
  white-space: nowrap;
  font-size: 6.1vw;
  transition: none;
  z-index: 9;
}

/* #btn {
  display: inline-block;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
  background-color: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
} */

.sec {
  position: relative;
  padding: 100px;
  /* background: #1c0522; */
  background: #000000;
}

.sec h2 {
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.sec p {
  margin-top: -23px;
  text-align: center;
  font-size: 1.4em;
  color: #fff;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 78px;
  height: 100%;
  border-radius: 8px;
  border: 0.1px solid rgba(110, 110, 109, 0.642);
  background: rgba(81, 35, 112, 0.404);
  backdrop-filter: blur(10px);
  padding: 6px 14px;
  transition: width 0.5s ease;
  z-index: 999;
}

.sidebar.active {
  width: 240px;
}

.sidebar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}

.logo_content .logo img {
  width: 90px;
  margin-right: -5px;
}

.sidebar #Mbtn {
  position: fixed;
  color: #fff;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 9999;
}

.sidebar.active #Mbtn {
  left: 90%;
  cursor: pointer;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.sidebar.active ul li .tooltip {
  display: none;
}

.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  top: 50%;
  opacity: 1;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: none;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.sidebar.active ul li input {
  background: rgba(25, 1, 41, 0.274);
}

.sidebar ul li .bx-search {
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
}

.sidebar ul li .bx-search:hover {
  background: rgba(116, 128, 129, 0.183);
  color: #0d0d0f;
}

.sidebar ul li a:hover {
  color: #0d0d0f;
  background: rgba(116, 128, 129, 0.183);
}

.sidebar ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .profile_content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: rgba(25, 1, 41, 0.274);
  transition: all 0.4s ease;
}

.sidebar.active .profile_content .profile {
  background: rgba(25, 1, 41, 0.274);
}

.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.sidebar.active .profile_details {
  opacity: 1;
  pointer-events: auto;
}

.profile .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.profile .profile_details .name_job {
  margin-left: 10px;
}

.profile .profile_details .name {
  font-size: 15px;
  font-weight: 400;
}

.profile .profile_details .job {
  font-size: 12px;
}

.profile #log_out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease;
  cursor: pointer;
  background: none;
}

.sidebar.active #log_out {
  left: 88%;
  cursor: pointer;
}

.profile #log_out:hover {
  color: rgba(218, 19, 19, 0.721);
}

.sidebar.active #log_out:hover {
  color: rgba(218, 19, 19, 0.721);
}

.home_content {
  position: relative;
  height: 100%;
  width: calc(100% - 78px);
  margin-left: 78px;
  transition: margin-left 0.5s ease;
  overflow-y: auto;
  z-index: 1;
}

.home_content .text {
  font-size: 25px;
  font-weight: 500;
  color: #1d1b31;
  margin: 12px;
}

.sidebar.active ~ .home_content {
  width: calc(100% - 240px);
  left: 240px;
}

/* change greet */
.sec #greet{
  color: orange;
}

/* display popup when click on logout */
.logout_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.logout_popup {
  background-color: #fff; 
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
  text-align: center;
  max-width: 500px;
}

.logout_popup h2 {
  font-weight: 170;
  margin-bottom: 5px;
  color: #000000;
}


.logout_popup p {
  margin-bottom: 30px;
  color: #666; 
}


.logout_popup button {
  padding: 15px 24px;
  color: #3a69f7;
  border: none;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-right: 15px;
}



.logout_popup button:hover {
  background-color: #3a69f7; /* Darker blue on hover */
  color: #000000;
}

/* css for scroll down animation */
.scroll {
  position: fixed;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #ffffff82;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-size: 12px;
  color: #ffffff82;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}



/* About-Page css */

