@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    font-size: 62.5%; /* Setting root font size to 10px */
}

body{
    /* background-color: #5b6677; */
    background: url('UniWork/images/background/Bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: linear-gradient(to left, #490077, #51007d, #590182, #620188, #6a018d); */
}

.container{
    width: 100%;
    min-height: 100vh;
}

.sidebar{
    position: fixed;
    width: 25.6rem;
    height: 97.1vh;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.25); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Glass morphism effect */
    border-radius: 10px;
    padding: 2.4rem;
    margin-left: 5px;
    transition: all 0.3s;
    margin-top: 6px;
}

.sidebar .head{
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid #b0acaccf;
}

.user-img{
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    overflow: hidden;
}

.user-img img{
    width: 100%;
    object-fit: cover;
}

.user-details .name{
    font-size: 1.4rem;
    font-weight: 500;
}

.user-details .userId, .menu .title{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(163, 163, 163, 0.6);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.nav{
    flex: 1;
}

.menu ul li{
    position: relative;
    list-style: none;
    margin-bottom: 0.5rem;
}

.menu ul li a{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #3f3d3d;
    text-decoration: none;
    padding: 1.2rem 0.8rem;
    border-radius: 0.8rem;
    transition: all 0.3s;
}

.menu ul li > a:hover,
.menu ul li.active > a{
    color: #000;
    /* background-color: #e40c0c; */
}

.menu ul li .icon{
    font-size: 2rem;
}

.menu ul li .text{
    flex: 1;
}

.menu ul li .arrow{
    font-size: 1.4rem;
    transition: all 0.3s;
}

.menu ul li.active .arrow{
    transform: rotate(180deg);
}

.menu .sub-menu{
    display: none;
    margin-left: 2rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    border-left: 0.1rem solid #f6f6f6;
}

.menu .sub-menu li a{
    padding: 1rem 0.8rem;
    font-size: 1.2rem;
}

.menu:not(:last-child){
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid #b0acaccf;
}

.menu-btn {
    position: absolute;
    right: -1.4rem;
    top: 3.5%;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    border: 10px solid #e00cf327;
    background-color: rgba(158, 211, 211, 0.326); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Glass morphism effect */
}

.menu-btn:hover i {
    color: #000;
}

.menu-btn i{
    transition: all 0.3s;
}

.sidebar.active{
    width: 9.2rem;
}

.sidebar.active .menu-btn{
    transform:rotate(180deg);
}

.sidebar.active .user-details{
    display: none;
}

.sidebar.active .menu .title{
    text-align: center;
}

.sidebar.active .menu ul li .arrow{
    display: none;
}

.sidebar.active .menu > ul > li > a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar.active .menu > ul > li > a .text{
    position: absolute;
    left: 7rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
    border-radius: 0.4rem;
    color: #fff;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.sidebar.active .menu > ul > li > a .text::after{
    content: "";
    position: absolute;
    left: -0.5rem;
    top: 20%;
    width: 2rem;
    height: 2rem;
    border-radius: 0.2rem;
    background-color: #000;
    transform: rotate(45deg);
    z-index: -1;
}

.sidebar.active .menu > ul > li > a:hover .text{
    left: 5rem;
    opacity: 1;
    visibility: visible;
}

.sidebar.active .menu .sub-menu{
    position: absolute;
    top: 0;
    left: 2rem;
    width: 20rem;
    border-radius: 2rem;
    padding: 1rem 2rem;
    border: 0.1rem solid #f6f6f6;
    background-color: #fff;
    box-shadow: 0px 1rem 0.8rem rgba(0, 0, 0, 0.1);
}

/* Media Query for devices with max-width of 768px */
@media (max-width: 76.8rem) {
    .sidebar {
        width: 20rem; /* Narrow the sidebar */
    }

    .sidebar.active {
        width: 7.2rem; /* Even narrower when active */
    }
    

    html {
        font-size: 45%;
    }

    .sidebar .head, 
    .menu ul li a {
        gap: 1rem; /* Reduce the gap */
    }

    .user-img {

        width: 3.6rem;
        height: 3.6rem; 
    }
    .menu .title {
        font-size: 0.8rem; /* Smaller title font */
        padding: 1.8rem 0; 
        color: rgba(163, 163, 163, 0.6);
        text-align: center;
    }
    .user-details .userId, .menu .title{
        margin-left: -0.7rem;
    }
    

}
