/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/

  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #290F51;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --theme-color:rgb(255, 153, 0);
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.preloader_img {
  width: 60vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

main {
  overflow: hidden;
}

/* Update existing styles for each section */
#home {
  position: relative;
  z-index: 1;
}
#about,
#skills,
#portfolio,
#contactme {
  position: relative;
  z-index: 1;
}


#preloader {
  background: #000;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  position: fixed;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image {
  background-image: url('/UniWork/img/background3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  z-index: -1;
  height: 100vh; /* Consider removing this line */
  /* Add the following line to cover the width */
  width: 100%; 
}

#particles-js {
  width: 100%;
  height: 100%;
  z-index: -2;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);        
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: white;
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 1390px;
  margin-left: 1.5rem;
  margin-right: 1rem;
  position: relative;
  z-index: 1;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem; /* for better mobile view */
}

.nav__img {
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.nav__logo{
  color: white;
  margin-left: -50px;
  font-weight: 600;
}
.logo_img{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  margin-left: -35px;
  
}
.logo_img img{
  width: 16vh;
  max-width: 100%;
  margin-right: -19px;
  margin-top:auto;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
  .logo_img img{
    width: 14vh;
    transition: .4s;
  }
  .logo_img{
    margin-left: -35px;
    transition: .4s;
  }
  button {
    position: fixed;
    top: .2rem;
    right: 1rem;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    z-index: var(--z-fixed);
  }
  
}

.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  /* color: var(--title-color); */
  color: white;
  margin: 10px auto;
}

.nav__list {
  justify-content: space-around;
  margin-right: 2rem;
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 1.5rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: rgb(255, 153, 0);
  transition: .3s;
}

/* Home */

.nft img{
  width: 200px;
  height: auto;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

/* Minimalist design, active link */
.active-link::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 2.5rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
    
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
    display: block; /* Minimalist design, visible labels */
  }
  .nav__link:hover {
    color: var(--first-color);
  }

  /* First design, remove if you choose the minimalist design */
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

  /* Minimalist design */
  .active-link::before{
      bottom: -.75rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* get start button */
button {
  display: inline-block;
  border-radius: 8px;
  border: 1px solid #e6b70b;
  background: none;
  color: wheat;
  text-align: center;
  font-size: 14px; /* Adjusted font size */
  padding: 7px 15px; /* Adjusted padding for better proportions */
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }

 button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
 button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
 button:hover span {
  padding-right: 15px;
 }
 
 button:hover span:after {
  opacity: 1;
  right: 0;
 }


 /* home content */
 #home{
  position: relative;
  display: flex;
  align-items: center;
 }

 .home-content{
  flex: 1;
  margin-left: 80px;
  z-index: 1;
 }

 /* .home-image{
  flex: 1;
  display: block;
  justify-content: flex-end;
  filter: drop-shadow(5px 15px 20px #fffffbe4);
  z-index: 1; 
 }
  */
 .home-image{
  flex: 1;
  display: block;
  justify-content: flex-end;
  filter: drop-shadow(5px 15px 20px #fffffbcb);
  -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(227, 19, 19, 0.267));
  line-height: 0.70em;
  outline: none;
  margin-bottom: 110px;
  animation: animate 5s linear infinite;
  z-index: 1; 
 }

 #home img{
  display: block;
  margin-top: 10px;
  margin-left: 25%;
  width: 60%;
  height: auto;
  animation: fadeInUp 1s ease-out;
 }

 #particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
 }

 .home-content h4, p{
  color: white;
  padding-bottom: 20px;
  /* word-spacing: px; */
  animation: fadeInUp 1s ease-out;
  
 }
 .home-content h2{
  font-size: 30px;
  color: #e6c211 ;
  padding-bottom: 20px;
  animation: fadeInUp 1s ease-out;
 }
 .home-content p{
  font-size: 20px;
  animation: fadeInUp 1s ease-out;
 }

#particles-js canvas{
  display: block;
}
.home-content h1{
  font-size: 80px;
  color: white;
  animation: fadeInUp 1s ease-out;
}
.home-content span{
  color: #0e3742;
  text-transform: uppercase;
  -webkit-box-reflect: below 1px linear-gradient(transparet, #0000);
  line-height: 0.70em;
  outline: none;
  animation: animate 5s linear infinite;
}

@keyframes animate
{
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
    color: #0e3742;
    text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,80%,90.1%,100%{
    color: #fff;
    text-shadow: 0 0 10px #CFFF04,
    0 0 20px #CFFF04,
    0 0 40px #CFFF04,
    0 0 80px #CFFF04,
    0 0 160px #CFFF04;
  }
}

.nft img{
  width: 200px;
  height: auto;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  
}
/* home page responsiveness */

/* Mobile Styles */
@media screen and (max-width: 767px) {
  #home {
    flex-direction: column;
    text-align: center;
    font-size: 80%;
    animation: fadeInUp 1s ease-out;
  }

  .home-content {
    margin-left: 0;
    animation: fadeInUp 1s ease-out;
  }

  #home img {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    animation: fadeInUp 1s ease-out;
    filter: drop-shadow(5px 15px 20px #fffffbcb);
    -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(227, 19, 19, 0.267));
    line-height: 0.70em;
  }
  .home-image {
    filter: none;
    text-align: center;
    animation: fadeInUp 1s ease-out;
  }
  #home img {
    width: 35%;
    animation: fadeInUp 1s ease-out;
  }
  section__title,
  .home-content h1{
    margin-top: -28px;
    font-size: 40px;
    /* animation: fadeInUp 1s ease-out; */
  }
  .home-content p {
    margin-top: 4px;
    font-size: 14px; /* Adjust the percentage as needed */
    animation: fadeInUp 1s ease-out;
  }
  .home-content h2{
    font-size: 0px
  }
}

/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .home-content h1{
    margin-top: -28px;
    font-size: 40px;
    animation: fadeInUp 1s ease-out;
  }
  .home-content p {
    margin-top: 4px;
    font-size: 14px; /* Adjust the percentage as needed */
    animation: fadeInUp 1s ease-out;
  }
  .home-content h2{
    font-size: 0px;
    animation: fadeInUp 1s ease-out;
  }
  .home-image {
    filter: none;
    text-align: center;
    animation: fadeInUp 1s ease-out;
  }
  #home img {
    width: 40%;
  }
}

/* nft button */
.submit button {
  background: var(--theme-color);
  font-family: inherit;
  color: rgb(255, 255, 255);
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.submit button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  color:rgb(0, 0, 0);
}

.submit button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}


/* Larger Devices Styles */
@media screen and (min-width: 1024px) {
  /* Add larger device-specific styles here if needed */
}

/* login  */
/* ... (previous CSS code) ... */

.overlay {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Background with transparency */
  backdrop-filter: blur(5px); /* Background blur effect */
  z-index: 9999;
}

.login-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Home Page Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* nft */
.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 260px;
  background-color: #ffffff;
  padding: 10px 30px 40px;
}

.card h3 {
  font-size: 22px;
  font-weight: 600;
  
}

.drop_box {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}
.form input {
  margin: 10px 0;
  width: 200%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

